#map {
    width: 100%; 
    height: 100%; 
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
}

#filter-container {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 999;
}

.leaflet-control-attribution {
    font: 9px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

form {
    margin: 0 0 0;
}

.popup-content {
    height: 250px;
    overflow-y: auto;
}

.map-label {
    z-index: 9000638;
}

#clear {
    display: inline-block;
    position: relative;
    right: -24px;
    z-index: 999999;
    top: 3px;
    font-size:14pt;
    text-decoration: none;
    color: #aaa;
}

input.search-query {
    padding-left: 24px;
}

.search-box {
    font-size: 10pt !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.photo {
    width: 100%;
    max-height: 300px;
}

/*

.leaflet-popup {
    width: 500px;
    height: 530px;
}

.leaflet-popup-content-wrapper {
    height: 500px;
}

.leaflet-popup-content {
    width: 460px !important;
    height: 470px;
} */

.popup-content {
/*    height: 470px; */
    font-size: 12pt;
    line-height: 14pt;
}

.row-media_url {
    display: none;
}

.table th, .table td {
    line-height: 30px;
    font-weight: normal;
    background: transparent;
    border: 0;
}

.table {
    border: 0;
}

.leaflet-popup-close-button {
    margin: 20px 20px 0 0;
}

.table th {
    font-size: .8rem !important;
    line-height: 1rem;
}
